tuts101/Fast API Tutorial, Part 1： Introduction [XnYYwcOfcn8].mp4
tuts101/Fast API Tutorial, Part 2： Path Parameters [nCrX79LqDT8].mp4
tuts101/Fast API Tutorial, Part 3： Query Parameters [f3CyAmelnEY].mp4
tuts101/Fast API Tutorial, Part 4： Request Body [pCzwum8CZxg].mp4
tuts101/Fast API Tutorial, Part 5： Query Parameters and String Validation [OkrDvk_qQ6M].mp4
tuts101/Fast API Tutorial, Part 6： Path Parameters and Numeric Validation [6ibU244qRLM].mp4
tuts101/Fast API Tutorial, Part 7： Body - Multiple Parameters [tHaYfU-mo4w].mp4
tuts101/Fast API Tutorial, Part 8： Body - Field [dmYlkTzNF9w].mp4
tuts101/Fast API Tutorial, Part 9： Body - Nested Models [g7w54RhZBYQ].mp4
tuts101/Fast API Tutorial, Part 10： Declare Request Example Data [WMnZkyp3A5s].mp4
tuts101/Fast API Tutorial, Part 11： Extra Data Types [-Ncz4Vi5F88].mp4
tuts101/Fast API Tutorial, Part 12： Cookie and Header Parameters [k5WTeOI39NE].mp4
tuts101/Fast API Tutorial, Part 13： Response Model [2wJ2kaVej_0].mp4
tuts101/Fast API Tutorial, Part 14： Extra Models [Z5qgp09UTXI].mp4
tuts101/Fast API Tutorial, Part 15： Response Status Codes [T93veCNnAYE].mp4
tuts101/Fast API Tutorial, Part 16： Form Fields [PSJH-ixO-PU].mp4
tuts101/Fast API Tutorial, Part 17： Request Files [_XgKod1fqzo].mp4
tuts101/Fast API Tutorial, Part 18： Request Forms and Files [QseLtFo0Pi8].mp4
tuts101/Fast API Tutorial, Part 19： Handling Errors [8xkMFW3201Y].mp4
tuts101/Fast API Tutorial, Part 20： Path Operation Configuration [7d0dy6QWgNA].mp4
tuts101/Fast API Tutorial, Part 21： JSON Compatible Encoder and Body Updates [_BeVJrQh5yg].mp4
tuts101/Fast API Tutorial, Part 22： Dependencies - Intro [Kq7ezzVInCA].mp4
tuts101/Fast API Tutorial, Part 23： Classes as Dependencies [jJDzJg3O9ZQ].mp4
tuts101/Fast API Tutorial, Part 24： Sub-Dependencies [se3ecJm09FE].mp4
tuts101/Fast API Tutorial, Part 25： Dependencies in path operation decorators, global dependencies [ECjGFDVifhk].mp4
tuts101/Fast API Tutorial, Part 26： Security [B5AMPx9Z1OQ].mp4
tuts101/Fast API Tutorial, Part 27： Security with JWT [SKPms69KIco].mp4
tuts101/Fast API Tutorial, Part 28： Middleware and CORS [-AM5QVkb0OM].mp4
tuts101/Fast API Tutorial, Part 29： SQL Relational Databases [ljYPzdABlTM].mp4
tuts101/Fast API Tutorial, Part 30： Bigger Applications - Multiple Files [OzFyOC90v6U].mp4
tuts101/Fast API Tutorial, Part 31： Background Tasks [J_5pABCGVfc].mp4
tuts101/Fast API Tutorial, Part 32： Metadata and Docs URLs [WRgvjweVf64].mp4
tuts101/Fast API Tutorial, Part 33： Static Files, Testing, and Debugging [xnmrHE8z3O4].mp4
